@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-gray-100;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 transparent;
}
